:root {
    --yellow: rgb(255, 199, 0);
    --purple: rgb(199, 185, 255);
    --green: rgb(15, 169, 88);
    --color1: #f96d37;
    --color2: #8354e3;
    --color3: #5eba75;
    --rich-purple: #6e61ff;
    --border: 3px solid rgb(0, 0, 0);
    --shadow: 6px 6px 0px 0px rgba(0,0,0,0.9);
    --hover-transition: 0.2s ease-in-out;
    --load-transition: 0.5s ease-in-out;
    --border-radius: 10px;
}

/* Job card */
.job {
    position: relative;
    margin: 10px 0 10px 0;
    padding: 20px;
    background-color: var(--color3);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: min(80%, 500px);
    z-index: 1;
    animation: fadeIn var(--load-transition);
}

.job:hover {
    cursor: pointer;
    transition: var(--hover-transition);
    box-shadow: none;
    border: 1px solid black;
}

.job-date {
    font-size: 0.7rem;
}

.job-title {
    font-weight: 700;
}

.button {
    background: var(--color2);
    padding: 15px;
    margin: 10px 10px 0 0;
    border-radius: var(--border-radius);
    font-weight: 500;
    color: white;
    box-shadow: var(--shadow);
    margin-bottom: 10px;
    float: left;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: var(--hover-transition);
}

.fadeIn {
    animation: fadeIn var(--load-transition);
    visibility: visible;
}

.fadeOut {
    animation: fadeOut var(--load-transition);
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-30px);
        opacity: 0;
    }
}