/* Job card */
.job {
    position: relative;
    margin: 10px 0 10px 0;
    padding: 20px 20px 10px 20px;
    background-color: #fffcf6;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: min(80%, 500px);
    z-index: 2;
    animation: fadeIn var(--load-transition);
}

.job-date {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.job-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.job-company,
.job-location {
    font-size: 1.1rem;
    font-weight: 400;
}

.button {
    background: var(--button1);
    padding: 12px 20px 12px 20px;
    margin: 15px 15px 0 0;
    border-radius: var(--border-radius);
    border: var(--border);
    font-weight: 700;
    color: black;
    box-shadow: var(--shadow);
    margin-bottom: 10px;
    float: left;
}

.button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: var(--hover-transition);
}

/* .job>a>div {
    background: var(--button2);
} */

/* .job:nth-child(3n + 1) {
    background: var(--color1);
}

.job:nth-child(3n + 2) {
    background: var(--color2);
}

.job:nth-child(3n + 3) {
    background: var(--color3);
} */

/* Fade in animations */

.fadeIn {
    animation: fadeIn var(--load-transition);
    visibility: visible;
}

.fadeOut {
    animation: fadeOut var(--load-transition);
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-30px);
        opacity: 0;
    }
}